body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.contenedor{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #D3C3B3;
    padding: 10px;
}

header, nav, aside, main, footer {
    background-color: #D3D3D3;
    padding: 8px;
    border: 5px solid black;
}

.contenido{
    display: flex;
    gap: 5px;
}

aside{
    flex: 2;
}

main{
    flex: 5;
}